{{ csrf_input() }}

{{ field('name', item.name, "Titre de l'article") }}
{{ field('slug', item.slug, "Lien") }}
{{ field('content', item.content, "Contenu de l'article", {type: 'textarea'}) }}
{{ field('created_at', item.createdAt, "Date de création", {class: 'datepicker'}) }}
