<p>
    Vous avez demandez la réinitialisation de votre mot de passe.
</p>
<p>
    <a href="{{ domain }}{{ path('auth.reset', {id: id, token: token}) }}">
        {{ domain }}{{ path('auth.reset', {id: id, token: token}) }}
    </a>
</p>