<!DOCTYPE html>
<html>
  <head>
    <title>{% block title "ZZ BDE" %}</title>
    <link rel="icon" href="/img/logo_black.svg" />
    <meta charset="UTF-8">
    {# styles | CDN #}
    {#
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    #}
    {# styles | Local #}
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/fontawesome/css/fontawesome-all.css">
    <style>
      .container{
        padding: 2rem 1rem;
      }
    </style>
  </head>

  <body>

    {{ nav('public.nav') }}

    <div class="container">
      {# CONTAINER #}
      {% block body %}{% endblock %}

    </div>

    {# script | CDN #}
    {#
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.locales.min.js"></script>
    #}
    {# script | Local #}
    <script src="/js/libs/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/libs/timeago.min.js"></script>
    <script src="/js/libs/timeago.local.min.js"></script>

    <script>
        timeago().render(document.querySelectorAll('.timeago'), 'fr')
    </script>

</body>
</html>
