{% extends 'layout.twig' %}

{% block body %}
    <h1>Gérer {{ club.name }}</h1>

    <div class="media text-muted pt-3 border-top border-gray pt-2 mb-0">
        <div class="rounded bg-primary text-white text-center mr-4" style="width: 48px; height: 48px; line-height: 48px"><i class="fas fa-newspaper"></i></div>
        <div class="media-body pb-3 mb-0 small lh-125">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Ajouter des News</strong>
                <div>
                    <a href="{{ path('blog.owner.index', {slug: club.slug}) }}" style="margin: 10px;"><i class="fas fa-eye text-dark"></i></a>
                    <a href="{{ path('blog.owner.create', {slug: club.slug}) }}" style="margin: 10px;"><i class="fas fa-pencil-alt text-primary"></i></a>
                </div>
            </div>
            <span class="d-block">Nombre de publiées : <strong>{{ nbPosts }}</strong> ({{ waitingPosts }} en attente)</span>
        </div>
    </div>

    <div class="media text-muted pt-3 border-top border-gray pt-2 mb-0">
        <div class="rounded bg-primary text-white text-center mr-4" style="width: 48px; height: 48px; line-height: 48px"><i class="fas fa-users"></i></div>
        <div class="media-body pb-3 mb-0 small lh-125">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Gérer les membres du bureau</strong>
                <div>
                    <a href="{{ path('club.owner.member', {slug: club.slug}) }}" style="margin: 10px;"><i class="fas fa-cog text-primary"></i></a>
                </div>
            </div>
            <span class="d-block">Il y a <strong>{{ nbMembres }}</strong> membres dans le bureau</span>
        </div>
    </div>

    <div class="media text-muted pt-3 border-top border-gray pt-2 mb-0">
        <div class="rounded bg-primary text-white text-center mr-4" style="width: 48px; height: 48px; line-height: 48px"><i class="fas fa-book"></i></div>
        <div class="media-body pb-3 mb-0 small lh-125">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Gérer les informations du club</strong>
                <div>
                    <a href="{{ path('club.owner.edit', {slug: club.slug}) }}" style="margin: 10px;"><i class="fas fa-info text-primary"></i></a>
                </div>
            </div>
            <span class="d-block">Modifier ici les informations comme votre photo, description, etc...</span>
        </div>
    </div>

{% endblock %}
