{% extends '@admin/layout.twig' %}

{% block title "Editer un club" %}

{% block body %}

    <h1 class="text-center text-md-left">Editer les informations de : {{ club.name }}</h1>

    <form action="" method="POST" enctype="multipart/form-data">

        {{ csrf_input() }}
        <div class="row">
            <div class="col-md-6">
                {{ field('name', club.name, "Nom du club") }}
            </div>
            <div class="col-md-6">
                {{ field('slug', club.slug, "Lien") }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ field('logo', club.logo, "Logo", {type: 'file'}) }}
            </div>
            <div class="col-md-6">
                {% if club.logo %}
                    <img src="{{ club.getThumb }}" alt="" width="100%">
                {% endif %}
            </div>
        </div>


        {{ field('short_description', club.shortDescription, "Description breve du club", {type: 'textarea'}) }}
        {{ field('description', club.description, "Description du club", {type: 'textarea'}) }}
        {{ field('created_at', club.createdAt, "Date de création", {class: 'datepicker'}) }}

        <button class="btn btn-primary" type="submit">Editer</button>
    </form>

{% endblock %}