{% extends '@admin/layout.twig' %}

{% block title "Editer un membre" %}

{% block body %}

    <h1>Editer le compte de {{ item.firstname }}</h1>

    <form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="POST">
        {% include viewPath ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit">Editer</button>
    </form>
{% endblock %}
