{% extends '@admin/layout.twig' %}

{% block title "Gestion des membres" %}

{% block body %}
    <p class="text-right">
        <a href="{{ path(routePrefix ~ '.create') }}" class="btn btn-primary"><i class="fas fa-plus text-white mr-2"></i>Ajouter un membre</a>
    </p>

    <table class="table table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Prénom</td>
                <td>Nom</td>
                <td class="text-center">Actions</td>
            </tr>
        </thead>
        <tbody>
        {% set token_input = csrf_input() %}
        {% for item in items %}
            <tr>
                <td>{{ item.firstname }}</td>
                <td>{{ item.lastname }}</td>
                <td class="align-middle" style="width: 110px">
                    <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" class="btn btn-primary"><i class="fas fa-pencil-alt text-white"></i></a>
                    {# Permet de forcer les navigateur a faire des requetes en delete #}
                    {{ deleteButton(routePrefix ~ '.delete', {id : item.id}, 'deleteModal') }}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ modal('deleteModal', 'SUPPRIMER') }}
    {{ paginate(items, routePrefix ~ '.index') }}
{% endblock %}
