{% extends 'layout.twig' %}

{% block title "Clubs" %}

{% block body %}
    <h1 class="text-center text-md-left">Clubs de l'ISIMA</h1>

    <p class="text-muted text-center text-md-left">En plus d'avoir les meilleurs filières du monde, l'ISIMA vous propose aussi de multiples clubs que voici :</p>

    {% for club in clubs %}
        <a href="{{ path('club.show', {slug: club.slug, id: club.id}) }}">
            <div class="d-flex align-items-center flex-column flex-md-row text-center text-md-left border-bottom">
                <img  class="mr-4 mt-4 mb-4 rounded-circle" width="120px" height="120px" src="
                        {% if club.logo == null %}
                            /img/image_placeholder.png
                        {% else %}
                            {{ club.getThumb }}
                        {% endif %}
                    " data-holder-rendered="true">
                <div>
                    <h3>{{ club.name }}</h3>
                    <p class="text-muted">
                        {{ club.shortDescription }}
                    </p>
                </div>
            </div>
        </a>
    {% endfor %}

{% endblock %}
