{% extends 'layout.twig' %}

{% block title 'Club | ' ~ club.name %}

{% block body %}
    <header class="d-flex flex-column align-items-center justify-content-center justify-content-md-start flex-md-row border-bottom pb-4 mb-4">
        <img  class="rounded-circle" width="200px" height="200px" alt="Logo {{ club.name }}" src="
                        {% if club.logo == null %}
                            /img/image_placeholder.png
                        {% else %}
                            {{ club.getThumb }}
                        {% endif %}
                    " data-holder-rendered="true">
        <div class="ml-md-5 text-center text-md-left">
            <h1>{{ club.name }}</h1>
            <p class="text-muted"><strong class="border-bottom mr-2">Membres :</strong>
                {% for member in membres %}
                    {{ member.firstname }} {{ member.lastname }},
                {% endfor %}
            </p>
        </div>
    </header>

    <h2>Qui sommes nous ?</h2>
    <p>{{ club.description | nl2br }}</p>
{% endblock %}
