<!DOCTYPE html>
<html>
<head>
    <title>{% block title "ZZ BDE" %}</title>
    <link rel="icon" href="/img/logo_black.svg" />
    <meta charset="UTF-8">
    {# styles | CDN #}
    {#
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.4.0/flatpickr.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    #}
    {# styles | Local #}
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/flatpickr.min.css">
    <link rel="stylesheet" href="/style/fontawesome/css/fontawesome-all.css">

    <style>
        .container{
            padding: 2rem 1rem;
        }
    </style>
</head>

<body class="bg-light">
<script src="/js/libs/jquery-3.3.1.slim.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('admin') }}">
            <img src="/img/logo.png" width="42" height="42" class="d-inline-block align-top mr-2" alt="Logo du BDE">
            BDE ZZ - Admin
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Acceuil</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a href="{{ path('account.dashboard') }}" class="navbar-text mr-2">Bonjour, {{ current_user().nickname ? current_user().nickname : current_user().firstname }}</a>
                <form action="{{ path('auth.logout') }}" class="form-inline" method="POST">
                    {{ csrf_input() }}
                    <button class="btn btn-danger mx-md-2"><i class="fas fa-sign-out-alt text-white mr-2"></i>Se déconnecter</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">

        {{ showFlash() }}

        {# CONTAINER #}
        {% block body %}{% endblock %}

    </div>

    {# script | CDN #}
    {#
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.4.0/flatpickr.min.js"></script>
    #}
    {# styles | Local #}

    <script src="/js/libs/flatpickr.min.js"></script>

    <script>
        flatpickr('.datepicker', {
            enableTime: true,
            altInput: true,
            altFormat: 'j F Y H:i',
            dateFormat: 'Y-m-d H:i:S'
        })
    </script>

    {#<script type="text/javascript">
        var deleteButton = document.querySelectorAll('.deleteButton');
        deleteButton.forEach(function(button) {
            button.addEventListener('click', function(e){
                var confirmation = prompt('Ecrire SUPPRIMER pour confirmer la suppression', '...');
                if (confirmation !== 'SUPPRIMER') {
                    e.preventDefault();
                }
            })
        })
    </script>
#}
</body>
</html>
