{% extends '@admin/layout.twig' %}

{% block title "Editer un produit" %}

{% block body %}

    <h1>Editer le club : {{ item.name }}</h1>

    <form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="POST" enctype="multipart/form-data">
        {% include viewPath ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit"><i class="fas fa-pencil-alt text-white mr-2"></i>Editer</button>
    </form>
{% endblock %}
