 {{ csrf_input() }}
<div class="row">
    <div class="col-md-6">
        {{ field('name', item.name, "Nom du club") }}
    </div>
    <div class="col-md-6">
        {{ field('visible', item.visible, "Visible", {type: 'checkbox'}) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ field('contributor_price', item.contributorPrice, "Prix cotisant") }}
    </div>
    <div class="col-md-6">
        {{ field('price', item.price, "Prix non-cotisant") }}
    </div>
</div>