{% extends '@admin/layout.twig' %}

{% block title "Gestion des produits" %}

{% block body %}
    <p class="text-right">
        <a href="{{ path(routePrefix ~ '.create') }}" class="btn btn-primary"><i class="fas fa-plus text-white mr-2"></i>Ajouter un produit</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Visible</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% set token_input = csrf_input() %}
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <form style="display: inline;" action="{{ path('product.admin.activate', {id : item.id}) }}" method="POST">
                        <button class="border-0 bg-transparent" style="cursor:pointer;">
                            {{ item.visible == true ?  '<i class="fas fa-check text-success"></i>' : '<i class="fas fa-times text-danger"></i>' }}
                        </button>
                        {{ token_input | raw }}
                    </form>
                </td>
                <td>
                    <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" class="btn btn-primary"><i class="fas fa-pencil-alt text-white"></i></a>
                    {# Permet de forcer les navigateur a faire des requetes en delete #}
                    {{ deleteButton(routePrefix ~ '.delete', {id: item.id}, 'deleteModal') }}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ modal('deleteModal', 'SUPPRIMER') }}
    {{ paginate(items, routePrefix ~ '.index') }}
{% endblock %}
