{% extends '@admin/layout.twig' %}

{% block title "Gestion des clubs" %}

{% block body %}
    <h1>Gestion des clubs</h1>

    <p class="text-right">
        <a href="{{ path('club.admin.create') }}" class="btn btn-primary"><i class="fas fa-plus text-white mr-2"></i> Ajouter un club</a>
    </p>

    <table class="table table-striped text-center">
        <thead>
            <tr class="font-weight-bold">
                <td>Titre</td>
                <td>Actif</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% set token_input = csrf_input() %}
        {% for item in clubs %}
            <tr>
                <td class="align-middle">{{ item.name }}</td>
                <td class="align-middle">
                    <form style="display: inline;" action="{{ path('club.admin.activate', {id : item.id}) }}" method="POST">
                        <button class="border-0 bg-transparent" style="cursor:pointer;">
                            {{ item.isActive == true ?  '<i class="fas fa-check text-success"></i>' : '<i class="fas fa-times text-danger"></i>' }}
                        </button>
                        {{ token_input | raw }}
                    </form>
                </td>
                <td class="align-middle">
                    <a href="{{ path('club.admin.member',{id : item.id, slug : item.slug}) }}" class="btn btn-primary"><i class="fas fa-users text-white"></i></a>
                    {# Permet de forcer les navigateur a faire des requetes en delete #}
                    {{ deleteButton('club.admin.delete', {id: item.id, slug : item.slug}, 'deleteModal') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ modal('deleteModal', 'SUPPRIMER') }}
    {{ paginate(clubs, routePrefix ~ '.index') }}
{% endblock %}
